header {
  height: auto;
  background-image: none;
}

#sidebar {
  clear: both;
  float: left;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 100px;
  width: 300px;
  height: 600px;
  background-color: #c6c6c6;
  text-align: center;
}

#sidebar ul.sidebar-navi li {
  padding-bottom: 5px;
}

.collapsible-header {
  background-color: #db4453;
}

#sidebar a {
  color: #db4453;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

.answer {
  display: none;
}

.active {
  display: block;
}

.answer h3 {
  text-align: center;
  margin-top: 150px;
}

.answer p {
  float: left;
  margin-left: 100px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

footer {
  clear: both;
}