@font-face {
  font-family: Rain;
  src: url(../fonts/AYearWithoutRain.ttf);
}

@font-face {
  font-family: Futura;
  src: url(../fonts/FuturaExtended.ttf);
}


main#main-content section.title{
  width: 50%;
  font: 40px Rain;
  color: #000;
  text-align: justify;
  margin-left: 30px;
  float: left;
}

main#main-content div.content {
  clear: both;
  margin-top: 10px;
  width: 50%;
  text-align: justify;
  float: left;
  padding: 40px;
  font: 18px Rain;
  line-height: 30px;
  border-right: 1px solid #000;
  font-weight: 300;
}

div#cat-img {
  text-align: center;
}

aside#sidebar {
  float: right;
}

aside#sidebar h3 {
  visibility: hidden;
}

aside#sidebar h2 {
  font: 30px Futura;
  text-align: center;
  margin-bottom: 20px;
}

aside#sidebar div#contact-form {
  background-color:#F2F7F9;
  width:415px;
  padding:10px;
  border: 6px solid #8FB5C1;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  /*position:relative;*/
  margin-right: 50px;
  margin-top: 50px;
  /*text-align: center;*/
}

#contact-form textarea {
    height:100px;
    resize: none;
}

#contact-form #submit-button {
    width: 100%;
    background-color:#333;
    color:#FFF;
    border:none;
    margin-bottom:0px;
    margin-right:60px;
    background-color:#8FB5C1;
    border-radius: 8px;
    padding: 10px;
}

#contact-form #submit-button:hover {
    transition: background-color 0.5s ease;
    background-color: #A6CFDD;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:380px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

div.other-posts {
  font: 20px Rain;
  float: right;
}

div.other-posts h1 {
  padding-left: 50px;
}

table {
  padding-right: 80px;
}

table tr.row-1 td {
  float: left;
  padding-left: 60px;
}

table tr.row-1 td li {
  list-style: none;
}

table tr.row-1 td li a {
  float: left;
  text-decoration: none;
  font: 20px Rain;
  color: #000;
  line-height: 50px;
}

table tr.row-1 td li a:hover {
  transition: color 0.5s ease;
  color: #ff0000;
}