main table {
  margin-top: 70px;
}

main table tr td div.boxes {
  width: 250px;
  height: 50px;
  border: 5px solid #000;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 45px;
  padding-top: 25px;
}

main table tr td div.boxes a.main-posts {
  font: 20px Futura;
  color: #000;
  text-decoration: none;
}

main table tr td div.boxes:hover {
  transition: background-color 0.5s ease;
  background-color: #ff0000;
}